## Importing necessary libraries

In [30]:
import numpy as np
import pandas as pd

## Load the data to respective pandas dataframe

In [31]:
holidays_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/holidays_events.csv'
oil_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/oil.csv'
stores_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/stores.csv'
test_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/test.csv'
train_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/train.csv'
transactions_url = 'C:/Users/Hp/Documents/Bootcamp/capstone-project-sales-forecast/data/transactions.csv'

In [32]:
# Load Data to data frame
df_holidays = pd.read_csv(holidays_url)
df_oil = pd.read_csv(oil_url)
df_stores = pd.read_csv(stores_url)
df_test = pd.read_csv(test_url)
df_train = pd.read_csv(train_url)
df_transactions = pd.read_csv(transactions_url)

### Check each data frame

In [33]:
df_holidays.describe()

              date     type    locale locale_name description transferred
count          350      350       350         350         350         350
unique         312        6         3          24         103           2
top     2014-06-25  Holiday  National     Ecuador    Carnaval       False
freq             4      221       174         174          10         338

In [34]:
df_oil.describe()

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190000
25%      46.405000
50%      53.190000
75%      95.660000
max     110.620000

In [35]:
df_stores.describe()

       store_nbr    cluster
count  54.000000  54.000000
mean   27.500000   8.481481
std    15.732133   4.693395
min     1.000000   1.000000
25%    14.250000   4.000000
50%    27.500000   8.500000
75%    40.750000  13.000000
max    54.000000  17.000000

In [36]:
df_test.describe()

                 id     store_nbr   onpromotion
count  2.851200e+04  28512.000000  28512.000000
mean   3.015144e+06     27.500000      6.965383
std    8.230850e+03     15.586057     20.683952
min    3.000888e+06      1.000000      0.000000
25%    3.008016e+06     14.000000      0.000000
50%    3.015144e+06     27.500000      0.000000
75%    3.022271e+06     41.000000      6.000000
max    3.029399e+06     54.000000    646.000000

In [37]:
df_train.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [38]:
df_transactions.describe()

          store_nbr  transactions
count  83488.000000  83488.000000
mean      26.939237   1694.602158
std       15.608204    963.286644
min        1.000000      5.000000
25%       13.000000   1046.000000
50%       27.000000   1393.000000
75%       40.000000   2079.000000
max       54.000000   8359.000000

### Create Profile Report

In [40]:
# Helper Functions

def get_df_name(df):
    name =[x for x in globals() if globals()[x] is df][0]
    return name

def check_df(dataframe):
    print('Name of dataframe:', get_df_name(dataframe))
    print('Shape of dataframe:', dataframe.shape)
    print('\n','Concise summary of dataframe:')
    print(dataframe.info())
    print('\n','Check for missing values')
    print(dataframe.isnull().sum())
    print('\n','Check dataframe for numeric and categorical variables')

    numeric_variables = dataframe.select_dtypes(include=[np.number])
    categorical_variables = dataframe.select_dtypes(exclude=[np.number])

    print('Numeric variables in the given dataframe : ',numeric_variables.shape[1])
    print('Categorical variables in the givne dataframe:',categorical_variables.shape[1])

In [41]:
check_df(df_holidays)

Name of dataframe: df_holidays
Shape of dataframe: (350, 6)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB
None

 Check for missing values
date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  0
Categorical variables in the givne dataframe: 6

In [42]:
check_df(df_oil)

Name of dataframe: df_oil
Shape of dataframe: (1218, 2)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB
None

 Check for missing values
date           0
dcoilwtico    43
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  1
Categorical variables in the givne dataframe: 1

In [43]:
check_df(df_stores)

Name of dataframe: df_stores
Shape of dataframe: (54, 5)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB
None

 Check for missing values
store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  2
Categorical variables in the givne dataframe: 3

In [44]:
check_df(df_test)

Name of dataframe: df_test
Shape of dataframe: (28512, 5)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  object
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB
None

 Check for missing values
id             0
date           0
store_nbr      0
family         0
onpromotion    0
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  3
Categorical variables in the givne dataframe: 2

In [45]:
check_df(df_train)

Name of dataframe: df_train
Shape of dataframe: (3000888, 6)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB
None

 Check for missing values
id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  4
Categorical variables in the givne dataframe: 2

In [46]:
check_df(df_transactions)

Name of dataframe: df_transactions
Shape of dataframe: (83488, 3)

 Concise summary of dataframe:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB
None

 Check for missing values
date            0
store_nbr       0
transactions    0
dtype: int64

 Check dataframe for numeric and categorical variables
Numeric variables in the given dataframe :  2
Categorical variables in the givne dataframe: 1